#facebook button svg circle {
  fill: #98A2B3;
}
#facebook button svg path {
  fill: #fff;
}
#facebook:hover button svg circle {
  fill: #0052B4;
}

#linkedIn button svg rect {
  fill: #98A2B3;
}
#linkedIn button svg path {
  fill: #fff;
}
#linkedIn:hover button svg rect {
  fill: #0052B4;
}

#twitter {
  width: 45px;
  height: 45px;
  overflow: hidden;
}

#twitter button svg path {
  fill: #98A2B3;
}
#twitter:hover button svg path {
  fill: #0052B4;
}