@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #f1aa04;
    --color-secondary: #0f3142;
    --color-background: #fff;
  }
}

@property --ctv {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

@property --w {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

@property --satisfy {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

@property --pair {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

@keyframes counter {
  from {
    --ctv: 0;
    --w: 0;
    --satisfy: 0;
    --pair: 0;
  }
  to {
    --ctv: 74;
    --w: 197265;
    --satisfy: 100;
    --pair: 50;
  }
}
