@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #f1aa04;
    --color-secondary: #0f3142;
    --color-background: #fff;
  }
}

@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
